<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Cash Flow</title>

  <div class="flex items-center justify-center">
  <img src="/logo.svg" alt="cashflow-logo"/>    
  </div>

</head>
<body class="bg-gradient-to-r from-slate-500 to-emerald-900">
  {{{body}}}
</body>
</html>


