<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="shortcut icon" type="image/x-icon" href="./images/CashFlowFavicom.ico">

  <title>Cash Flow</title>

</head>
<body class="flex flex-col min-h-screen bg-gradient-to-r from-slate-500 to-emerald-900">
  <br>
  <div class="flex items-center justify-center">
  <a href="/"><img src="./images/CashFlowLogo.png" alt="cashflow-logo"/></a>
  </div>
  <br>
  {{{body}}}
</body>
<br>
<br>
<footer class="mt-auto text-center bg-gray-200 lg:text-left">
  <div class="p-4 text-center text-gray-700" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright
  </div>
</footer>
</html>
