<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/CashFlow Favicom.ico">

  <title>Cash Flow</title>

  <div class="flex items-center justify-center">
  <img src="/assets/images/CashFlow Logo.jpg" alt="cashflow-logo"/>    
  </div>

<!-- add css cover functionality, when comments are removed from other files -->
</head>
<body class="bg-cover bg-gradient-to-r from-slate-500 to-emerald-900">
  {{{body}}}
</body>
</html>
