<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
</head>
<body>
  <h1 class="flex items-center justify-center text-6xl">About Us</h1>
  <div>
  <p>Our finance website is the ultimate tool for organizing and managing your personal finances. With our easy-to-use interface, you can input your income, expenses, and other financial information, and then sort it into customizable categories to get a clear picture of your overall financial situation.</p>
  <p>Whether you are looking to save for the future, pay off debt, or just handle your finances, our website has the tools and resources you need to succeed. Give it a try today and take control of your financial future!</p>
  </div>
</body>
</html>





