  <div id="title">
    <h1 class="flex items-center justify-center text-6xl">Cash Flow</h1>
  </div>
  <div class="flex flex-col items-center justify-center" id="content">
    <a href="/login" class="p-3 px-6 py-2 pt-2 text-gray-900 rounded-lg mt-96 group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800" id="login-button"> <span class="relative px-5 py-2.5 transition-all ease-in duration-75 rounded-md group-hover:bg-opacity-0">Login</span>
    </a>


    <a href="/sign-up" class="p-3 px-6 py-2 pt-2 my-2 text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800" id="login-button"> <span class="relative px-5 py-2.5 transition-all ease-in duration-75 rounded-md group-hover:bg-opacity-0">Sign Up</span>
    </a>



    <a href="about-us" class="p-3 px-6 py-2 pt-2 mt-16 text-white rounded-full bg-slate-500" id="about-button">About Us</a>
  </div>
  <div class="absolute inset-x-0 bottom-0 flex items-center justify-center h-16" id="footer">
    Copyright &copy; 2022
  </div>
