<div>
  
  <div id="header">
    <h1 class="text-3xl">Cash Flow!!</h1>
    <img src="logo.png" alt="logo">
    <button class="btn btn-blue" id="login-button">Login</button>
    <button class="btn btn-blue" id="signup-button">Sign Up</button>
    <button class="btn btn-blue" id="about-button">About Us</button>
  </div>
  <div id="content">

  </div>
  <div id="footer">
    Copyright &copy; 2022
  </div>


</div>  


