<div id="title">
    <h1 class="flex items-center justify-center text-6xl">Cash Flow</h1>
  </div>
  <div class="flex flex-col items-center justify-center" id="content">
    <button class="p-3 px-6 py-2 pt-2 my-2 text-white rounded-full bg-slate-500" id="login-button">Login</button>
    <button class="p-3 px-6 py-2 pt-2 my-2 text-white rounded-full bg-slate-500" id="signup-button">Sign Up</button>
    <button class="p-3 px-6 py-2 pt-2 my-2 text-white rounded-full bg-slate-500" id="about-button">About Us</button>
  </div>
  <div class="flex items-center justify-center" id="footer">
    Copyright &copy; 2022
  </div>

<button class="p-3 px-6 pt-2"></button>

</div>  



<div>Hello</div>

{{#each items}}
  <div>
    <button class="large-button">Button 1</button>
    <button class="large-button">Button 2</button>
  </div>
{{/each}}
<style>
  .large-button { font-size: 18px; padding: 20px; }
</style>

