<html>
    <div class="container">
      <h1 class="pb-8 text-4xl font-bold text-center">$22,000</h1>

<div class="container">
		<label for="purchase_date">Purchase Date</label>
		<input type="date" name="purchase_date" id="purchase_date">

		<label for="price">Price</label>
		<input type="number" name="price" id="price">

		<label for="description">Description</label>
		<input type="text" name="description" id="description">

		<label for="merchant">merchant</label>
		<input type="text" name="merchant" id="merchant">

    <label for="category">category</label>
		<input type="text" name="category" id="category">

		<input type="button" name="button" id="submit-form" value="Submit" onclick="addData()" 
    
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
	</div>

 <table id="transactions_table"class="mt-8">
  <tr class="text-2xl font-bold text-center">
    <th>Purchase Date</th>
    <th>Price</th>
    <th>Description</th>
    <th>Merchant</th>
    <th>Category</th>
  </tr>
  <tr>
    <td>January 2, 2023</td>
    <td>$145</td>
    <td>Nike Blazers</td>
    <td>Nike</td>
    <td>Fashion</td>
  </tr>
  <tr>
    <td>January 2, 2023</td>
    <td>$250</td>
    <td>Groceries</td>
    <td>Harmons</td>
    <td>Food</td>
  </tr>
</table>
    </div>    
  </body>

<script src="../js/input.js"></script>

</html>

