<html>
  {{!-- <head>
    <link rel="stylesheet" href="/path/to/tailwind.css">
    <script src="/path/to/handlebars.js"></script>
  </head>
  <body> --}}
    <div class="container">
      <h1 class="pb-8 text-4xl font-bold text-center">$22,000</h1>
      <form class="flex items-center justify-evenly">
        <input type="text" placeholder="Item name">
        <input type="text" placeholder="Cost">
        <input type="text" placeholder="Merchant">
        <input type="text" placeholder="Category">
        <button type="submit">Submit</button>
      </form>
      <table>
        {{!-- <tr class="flex items-center justify-evenly">
          <th>Item</th>
          <th>Cost</th>
          <th>Merchant</th>
          <th>Category</th>
        </tr> --}}
        {{#each entries}}
        <tr>
          <td>{{item}}</td>
          <td>{{cost}}</td>
          <td>{{merchant}}</td>
          <td>{{category}}</td>
        </tr>
        {{/each}}
      </table>
    </div>
  </body>
</html>
