<style>
  table, th, td {
  border: 1px solid black;
  background: white;
  padding: 7px;
}
input, select {
  width: 200px;
  margin: 2px;
}
</style>

    <br class="container">
      <h1 class="pb-8 text-4xl font-bold text-center"><span id="month"></span> Budget</h1>
      <h2 id="big_number" class="pb-8 text-4xl font-bold text-center">$2500.00</h2>

<script src="../js/input.js"></script>

<div class="flex flex-col items-center justify-center" id="content">
		<label for="purchase_date">Purchase Date</label>
		<input type="date" name="purchase_date" id="purchase_date">

		<label for="price">Price</label>
		<input type="number" name="price" id="price" step=".01">

		<label for="description">Description</label>
		<input type="text" name="description" id="description">

		<label for="merchant">Merchant</label>
		<input type="text" name="merchant" id="merchant">
    
        <label for="category">Category</label>
        <select id="category">
          <option value="Housing"> Housing </option>
          <option value="Auto"> Auto </option>
          <option value="Food"> Food </option>
          <option value="Utilities"> Utilities </option>
          <option value="Clothing"> Clothing </option>
          <option value="Medical"> Medical </option>
          <option value="Insurance">Insurance </option>
          <option value="Supplies">Supplies</option>
          <option value="Debt">Debt</option>
          <option value="Retirement">Retirement</option>
          <option value="Education">Education</option>
          <option value="Savings">Savings</option>
          <option value="Gifts/Donations">Gifts/Donations</option>
          <option value="Entertainment">Entertainment</option>
          <option value="Other">Other</option>
        </select>
    
    <br>
    <br>
		<input type="button" name="button" id="btn" value="Submit" onclick="addData()" 
    class="p-3 px-6 py-2 pt-2 my-2 text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800">

 <table id="transactions_table"class="mt-8">
  <tr class="text-2xl font-bold text-center">
    <th> Purchase Date </th>
    <th> Price </th>
    <th> Description </th>
    <th> Merchant </th>
    <th> Category </th>
  </tr>
</table>
    </div>    
  <div class="flex flex-col items-center justify-center">
  <form action="/logout?_method=DELETE" method="POST">
  <a href="http://localhost:3001/"  class="p-3 px-6 py-2 pt-2 text-white rounded-full mt-25 bg-slate-500">Log Out</a>
  </form>
  </div>

<script>
const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];

const d = new Date();
let name = month[d.getMonth()];
document.getElementById("month").innerHTML = name;
</script>
