<div id="app-root" style="display: none">
    <h1>This is Frontegg Integration in Vanilla Javascript </h1>
    <div id="user-container">
    </div>
    <br/>
    <a id="logout" fe-state="isAuthenticated"><button>Logout</button></a>
    <button id="loginWithRedirect" fe-mode="hosted"  fe-state="!isAuthenticated">
        Login With Redirect [HostedLogin]
    </button>
</div>
<script src="/bundle.js"></script>