<html>
  <body>
    <div class="flex items-center justify-center">
<<<<<<< Updated upstream
    <h1>Login Form</h1>
    <form action="/login" method="POST">
=======
    <form id="login-form">
>>>>>>> Stashed changes
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username"><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password"><br><br>
      <a href="/" class="p-3 px-6 py-2 pt-2 mt-16 text-white rounded-full bg-slate-500" id="about-button">Submit</a>
    </form> 
  </body>
  </div>
</html>