  <body>
    <h1 class="flex items-center justify-center text-6xl">Login</h1>
    <br>
    <div class="flex items-center justify-center">
    <form action="/login" method="POST">
    <form id="login-form">
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username"><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password"><br><br>
      <a href="/" class="p-3 px-6 py-2 pt-2 mt-16 text-white rounded-full bg-slate-500" id="about-button">Submit</a>
    </form> 
    </div>
  </body>
 