<body>
    <h1 class="flex items-center justify-center text-6xl">Sign Up</h1>
    <br>
    <div class="flex items-center justify-center">
    <form action="/sign_up" method="POST">
    <form id="sign_up-form">
      <label for="username">Username:</label><br />
      <input type="text" id="username" name="username" /><br />
      <label for="email">Email:</label><br />
      <input type="email" id="email" name="email" /><br />
      <label for="password">Password:</label><br />
      <input type="password" id="password" name="password" /><br />
      <label for="password_confirm">Confirm Password:</label><br />
      <input type="password" id="password_confirm" name="password_confirm" /><br
      /><br />
      <div class="flex flex-col items-center justify-center">
      <a href="/" class="p-3 px-6 py-2 pt-2 mt-16 text-white rounded-full bg-slate-500" id="about-button">Sign Up</a>
      </div>
    </form>
    </div>
  </body>

    <script src="/js/sign_up.js"></script>
